<hr>

  <footer class="bg-footer fixar">
    <div class="row mr-0">

      <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">

        <a href="https://www.instagram.com/compartilhaicompany/" target="_blank" class="p-2">
          <img class="tm-img" src="/assets/img/instagram.png" alt="Instagram">
        </a>

        <a href="https://github.com/Compartilha-ai" target="_blank" class="p-2">
          <img class="tm-img" src="/assets/img/github.png" alt="GitHub">
        </a>

      </div>
    </div>

    <div class="row mr-0">
      <div class="col-md-12 d-flex justify-content-center">

        <p class="text-secondary">&copy; Compartilhai &middot; 2021 </p>

      </div>
      <div class="col-md-12 d-flex justify-content-center mb-3">

        <a href="#topo" class="text-white">Voltar ao topo</a>
      </div>

    </div>
  </footer>
