<div class="sob-navbar bg-verde">
  <div class="container">
    <h1 class="display-4">Entre em contato com a gente</h1>
    <p class="lead">Não hesite em nos contatar caso tenha alguma dúvida, comentário ou sugestão.</p>
  </div>
</div>

<div class="container mt-3 p-3 ">
  <div class="row d-flex ">
    <div class="col-md-7 justify-content-center">
      <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Insira seu nome">
        </div>
        <div class="form-group">
          <label for="email1">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@exemplo.com">
        </div>
        <div class="form-group">
          <label for="phone">Contato</label>
          <input type="phone" class="form-control" id="phone" placeholder="(99) 99999-9999">
        </div>
        <div class="form-group">
          <label for="assunto">Assunto</label>
          <select class="form-control" id="assunto">
            <option>Dúvida</option>
            <option>Sugestão</option>
            <option>Reclamação</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mensagem">Mensagem</label>
          <textarea class="form-control" id="mensagem" rows="3"></textarea>
        </div>
      </form>
      <div class="row d-flex justify-content-center">
        <button class="btn btn-success">Enviar</button>
      </div>
    </div>

    <div class="col-md-4 ml-2">
      <h2>Sinta-se à vontade</h2>
      <p>Queremos saber o que você achou da plataforma e adoraríamos receber sugestões de melhorias.</p>
      <p>Nos envie uma mensagem e responderemos o mais breve possível!</p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3053.072243162688!2d-46.65300326909143!3d-23.566826772076638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1628532691036!5m2!1spt-BR!2sbr" width="350"
      height="320"style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

