<h1 class="text-center pt-4 pb-5">Login</h1>

<div class="col-md-3 container">
  <div class="align-items-center">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="row">
        <div class="col-6 justify-content-start">
          <button type="submit" class="btn btn-success">Entrar</button>
        </div>
        <div class="col-6 justify-content-end"><a routerLink="/cadastrar" class="btn btn-primary" tabindex="-1"
            role="button" aria-disabled="true">Cadastrar</a>
        </div>
      </div>
    </form>
  </div>
</div>
