 .bg-navbar {
    background-color: #0c0b31;
    width: 100%;
}

.txt-amarelo {
    color: #F0C80A;
} */

  .navbar{
    position: absolute;
  }



.edit-login i{
  margin-right:5px;
}
.edit-login i:hover{
  cursor: pointer;
}

.logo{
  margin-bottom: 8px;
  margin-left: 5px;
  width: 120px;
}

.header{
  height: 80px;
}
