.bg-navbar {
    background-color: #0c0b31;
}

.edit-login i {
    margin-right: 6px;
}

.edit-login i:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 8px;
    margin-left: 5px;
    width: 120px;
}