.bg-azul {
    background-color: #9DDAC6;
}

.bg-cinza {
    background-color: #2D2E39;
}

.txt-laranja {
    color: #0C0B31;
}

.txt-cinza{
  color:#004445
}

.grow:hover {
    transform: scale(110%) !important
}


.fa-search {
    font-size: 20px;
}

.pesquisa {
    font-size: 25px;
}

.foto-experiencia {
    padding: 5px;
    margin: 5px;
    border: solid 2px;
    border-color: #CBE2B0;
}

.card{
  border: solid 2px;
  border-color: #60A9A6;
}
