<div class="bg-creme">
  <div class="jumbotron jumbotron-fluid bg-creme text-light">
    <div class="container">
      <h1 class="display-4">Experiências</h1>
      <p class="lead">Conheça diversas culturas através das comunidades estrangeiras locais.</p>
    </div>
  </div>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título da experiência</h5>
          <p class="card-text">Texto descritivo da experiência.</p>
          <p class="card-text">Valor: R$00,00</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título da experiência</h5>
          <p class="card-text">Texto descritivo da experiência.</p>
          <p class="card-text">Valor: R$00,00</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título da experiência</h5>
          <p class="card-text">Texto descritivo da experiência.</p>
          <p class="card-text">Valor: R$00,00</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título da experiência</h5>
          <p class="card-text">Texto descritivo da experiência.</p>
          <p class="card-text">Valor: R$00,00</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título da experiência</h5>
          <p class="card-text">Texto descritivo da experiência.</p>
          <p class="card-text">Valor: R$00,00</p>
        </div>
      </div>
    </div>
  </div>
</div>