.bg-azul {
    background-color: #304B88;
}

.bg-cinza {
    background-color: #2D2E39;
}

.txt-laranja {
    color: #FF8804;
}

.grow:hover {
    transform: scale(110%) !important
}

.sob-navbar {
  padding: 6rem 2rem;
}

.fa-search{
font-size: 20px;
}

.pesquisa{
  font-size: 25px;
}
