<h1 class="text-center pt-4 pb-3">Cadastro</h1>

<div class="col-md-3 container">
  <form>
    <div class="form-group pb-3">
      <label for="exampleFormControlInput1 mb-3">Nome completo</label>
      <input type="texto" class="form-control email" id="exampleFormControlInput2">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="(99) 99999-9999">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
      <input type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Data de nascimento</label>
      <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
        placeholder="YYYY-MM-DD">
    </div>
    <div class="d-flex justify-content-center">
      <a href="/cadastrar.html" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Cadastrar</a>
    </div>

  </form>
</div>
