/* .cursor {
    cursor: pointer;
}

.conteudo {
    font-family: sans-serif;
    background: linear-gradient(480deg, #37e06f, #8ce6dd, #1fbdad)
}

input {
    border-radius: 15px;
}

select {
    border-radius: 15px;
}

option{
  border-radius: 15px;
} */



.card-img-right {
  width: 30%;
  background: scroll center url('https://i.imgur.com/VPDa3ra.jpg');
  background-size: cover;
}


.card-body{
  background: #DEEDF0;
 }
