.cursor {
    cursor: pointer;
}


.card-img-right {
  width: 30%;
  background: scroll center url('https://i.imgur.com/VPDa3ra.jpg');
  background-size: cover;
}


.card-body{
  background: #DEEDF0;
 }
