<header class="compartilhai-header compartilhai-landing-header">
  <div class="container mt-5 mb-5 pb-5 pt-5">
    <div class="row d-flex align-items-center">



      <div class="col-md-1">
        <ol class="carousel-indicators">
          <li href="#carouselExampleSlidesOnly" data-slide-to="0">.01</li>
          <li href="#carouselExampleSlidesOnly" data-slide-to="1"> .02</li>
          <li href="#carouselExampleSlidesOnly" data-slide-to="2">.03</li>
        </ol>


      </div>



      <div class="col-md-11">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6 mt-4">
                  <h1>Compartilhe sua experiência conosco</h1>
                  <p>Junte-se a uma comunidade que aproxima as pessoas e compartilha experiências de forma inovadora.
                  </p>
                </div>
                <div class="col-md-6">
                  <img class="d-block w-100 img-fluid p-5 img-borda"
                    src="https://mostraespiritadedanca.files.wordpress.com/2010/08/1178641027_f.jpg"
                    alt="Primeiro Slide">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6 ">
                  <h1>Experiências únicas</h1>
                  <p>As experiências do Compartilhaí são atividades envolventes criadas por imigrantes e abrangem os
                    mais
                    diversos temas, desde gastronomia a tecnologia.</p>
                </div>
                <div class="col-md-6">
                  <img class="d-block w-100 img-fluid p-5 img-borda"
                    src="https://mostraespiritadedanca.files.wordpress.com/2010/08/1178641027_f.jpg"
                    alt="Segundo Slide">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6 mt-4">
                  <h1>Conheça novas culturas</h1>
                  <p>Nossos anfitriões criam tudo com muito esforço para compartilhar o melhor de suas culturas. E o
                    melhor,
                    tudo isso está ao seu alcance com apenas alguns cliques!</p>

                </div>
                <div class="col-md-6">
                  <img class="d-block w-100 img-fluid p-5 img-borda"
                    src="https://mostraespiritadedanca.files.wordpress.com/2010/08/1178641027_f.jpg"
                    alt="Terceiro Slide">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>


<div class="bg-azul">

  <div class="container">
    <div class="row d-flex justify-content-center">
      <h2 class="mt-5">Compartilhe conosco!</h2>
      <p>Compartilhar suas experiências online é muito simples. Você só precisa se cadastrar, escolher uma categoria e
        criar uma experiência inovadora para publicar na nossa plataforma.</p>
      <p>Veja como é simples:</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7 mt-5">
        <h3 class="featurette-heading">Escolha a categoria</h3>
        <p class="lead">O primeiro passo é decidir a categoria... pense naquilo que você mais gosta de fazer, ou em
          algum aspecto da sua cultura que você gostaria de compartilhar. Onde isso se encaixa? Artes, Dança,
          Entretenimento, Gastronomia, História e Cultura, Música ou Tecnologia? Você escolhe!
        </p>
      </div>
      <div class="col-md-5 mt-5">
        <img class="featurette-image img-fluid mx-auto"
          src="https://www.grupotiradentes.com/crie/wp-content/uploads/sites/8/2016/05/facavatar.jpg"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Crie sua experiência!</h3>
        <p class="lead">Com a categoria definida, dê asas à criatividade e pense nos detalhes da experiência que você
          vai compartilhar. Você vai precisar de algumas informações:</p>
        <ul>
          <li>Título</li>
          <li>Descrição detalhada</li>
          <li>Categoria definida</li>
          <li>Valor cobrado</li>
          <li>Uma foto real</li>
        </ul>
        <p>Não se esqueça de incluir informações sobre como será o encontro virtual! Fale sobre as plataformas que você
          pretende usar e diga como o cliente pode entrar em contato com você.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://www.grupotiradentes.com/crie/wp-content/uploads/sites/8/2016/05/facavatar.jpg"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 mt-5">
        <h3 class="featurette-heading">Publique na plataforma</h3>
        <p class="lead">Você está quase lá! Depois de definir todos os detalhes, é hora de publicar sua experiência na
          plataforma! Esta etapa é bem simples e leva apenas alguns minutos.
        </p>
      </div>
      <div class="col-md-5 mt-5">
        <img class="featurette-image img-fluid mx-auto"
          src="https://www.grupotiradentes.com/crie/wp-content/uploads/sites/8/2016/05/facavatar.jpg"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Prepare-se para começar a compartilhar</h3>
        <p class="lead">É isso aí, experiência cadastrada com sucesso! Agora é só aguardar o contato do cliente e
          combinar os detalhes finais.</p>
        <p>O Compartilhaí não oferece plataforma própria de compartilhamento, então você precisará organizar o encontro
          com o seu cliente por conta própria, ok?</p>
        <p>Temos certeza que será uma experiência incrível!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://www.grupotiradentes.com/crie/wp-content/uploads/sites/8/2016/05/facavatar.jpg"
          alt="Generic placeholder image">
      </div>
    </div>

  </div>
