.sob-navbar {
  padding: 6rem 2rem;
}

h1 {
  color: #0C0B31;
}

.img {
  max-width: 100%;
  height: auto;
  width: 500px;
}

.bg-azul {
  background-color: #F4F4FA;
}


.carousel-indicators {
  display: flex;
  flex-direction: column;
}

.carousel-indicators li {
  height: auto;
  border: 0;
  text-indent: 0;
  background-color: transparent;
  font-size: 21px;
  font-weight: 700;

}

.carousel-indicators li:hover {
  color: #1fac8d;
  font-style: bold;
}


.compartilhai-landing-header {
  background-image: linear-gradient(500deg, hsl(0, 0%, 100%) 0%, #C2E8CE 55%,#89a6c4 55%, #8999a8 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-borda{
  border-radius: 50px;
}
