<!-- Carrosel -->

<!-- <div class="container-fluid  p-0 m-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="https://i.imgur.com/6O9FqWG.jpg?1" alt="Primeiro Slide"
          style="height:45rem">
        <div class="carousel-caption d-none d-md-block transparente">
          <h2>Compartilhe sua experiência com a gente</h2>
          <p>Junte-se a uma comunidade que aproxima as pessoas e compartilha experiências de forma inovadora.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100  img-fluid" src="https://i.imgur.com/1aRsGCs.jpg" alt="Segundo Slide"
          style="height:45rem">
        <div class="carousel-caption d-none d-md-block transparente">
          <h2>Experiências únicas</h2>
          <p>As experiências do Compartilhaí são atividades envolventes criadas por imigrantes e abrangem os
            mais
            diversos temas, desde gastronomia a tecnologia.</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100 img-fluid" src="https://i.imgur.com/krlogpE.jpg" alt="Terceiro Slide"
          style="height:45rem">
        <div class="carousel-caption d-none d-md-block transparente">
          <h2>Conheça novas culturas</h2>
          <p>Nossos anfitriões criam tudo com muito esforço para compartilhar o melhor de suas culturas. E o
            melhor,
            tudo isso está ao seu alcance com apenas alguns cliques!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

</div> -->


<!-- /Final do carrosel -->

<!-- Sessão de como usar site -->



<header class="compartilhai-header compartilhai-landing-header">
    <div class="container mt-5 mb-5 pb-5 pt-5">

        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide carossel1" data-ride="carousel">

                    <!-- BOTÕES NOVOS DO CARROSEL -->

                    <div class="container-fluid p-0 m-0 d-flex">

                        <a class="carousel-control-prev align-items-end" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next align-items-end" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>

                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-5 mt-4">
                                    <h2>Compartilhe sua experiência com a gente</h2>
                                    <p class="lead">Junte-se a uma comunidade que aproxima as pessoas e compartilha experiências de forma inovadora.
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <img class="d-block w-100 img-fluid p-5 img-borda" src="https://i.imgur.com/6O9FqWG.jpg?1" alt="Primeiro Slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row  d-flex align-items-center">
                                <div class="col-md-5 mt-4">
                                    <h2>Experiências únicas</h2>
                                    <p class="lead">As experiências do Compartilhaí são atividades envolventes criadas por imigrantes e abrangem os mais diversos temas, desde gastronomia a tecnologia.</p>
                                </div>
                                <div class="col-md-7">
                                    <img class="d-block w-100 img-fluid p-5 img-borda" src="https://i.imgur.com/1aRsGCs.jpg" alt="Segundo Slide">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row  d-flex align-items-center">
                                <div class="col-md-5 ">
                                    <h2>Conheça novas culturas</h2>
                                    <p class="lead">Nossos anfitriões criam tudo com muito esforço para compartilhar o melhor de suas culturas. E o melhor, tudo isso está ao seu alcance com apenas alguns cliques!</p>
                                </div>
                                <div class="col-md-7">
                                    <img class="d-block w-100 img-fluid p-5 img-borda" src="https://i.imgur.com/krlogpE.jpg" alt="Terceiro Slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- final do controlador do carrosel -->

<div class="">



    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-md-9">
                <h1 class="mt-5 text-center">Compartilhe com a gente</h1>
                <p class="lead text-center">Compartilhar suas experiências online é muito simples! Você só precisa se cadastrar, escolher uma categoria e criar uma experiência inovadora para publicar na nossa plataforma.</p>
                <h4 class="text-center mb-4">Veja como é simples:</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-5">
                <h3 class="featurette-heading">Escolha a categoria</h3>
                <p class="lead">O primeiro passo é decidir a categoria... pense naquilo que você mais gosta de fazer, ou em algum aspecto da sua cultura que você gostaria de compartilhar. Onde isso se encaixa? Artes, Dança, Entretenimento, Gastronomia, História e Cultura,
                    Música ou Tecnologia? Você escolhe!
                </p>
            </div>
            <div class="col-md-5 mt-5">
                <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/D5axYMh.png" alt="Generic placeholder image">
                <a href="https://storyset.com/idea">Idea illustrations by Storyset</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading">Crie sua experiência</h3>
                <p class="lead">Com a categoria definida, dê asas à criatividade e pense nos detalhes da experiência que você vai compartilhar. Você vai precisar de algumas informações:</p>
                <ul class="lead">
                    <li>Título</li>
                    <li>Descrição detalhada</li>
                    <li>Categoria definida</li>
                    <li>Valor cobrado</li>
                    <li>Uma foto real</li>
                </ul>
                <p class="lead">Não se esqueça de incluir informações sobre como será o encontro virtual! Fale sobre as plataformas que você pretende usar e diga como o cliente pode entrar em contato com você. A escolha é sua!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/SmsbxfB.png" alt="Generic placeholder image">
                <a href="https://storyset.com/work">Work illustrations by Storyset</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 mt-5">
                <h3 class="featurette-heading">Publique na plataforma</h3>
                <p class="lead">Você está quase lá! Depois de definir todos os detalhes, é hora de publicar sua experiência na plataforma! Esta etapa é bem simples e leva apenas alguns minutos. Não tem mistério!
                </p>
            </div>
            <div class="col-md-5 mt-5">
                <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/f5NntD0.png" alt="Generic placeholder image"> <a href="https://storyset.com/work">Work illustrations by Storyset</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading">Prepare-se para começar a compartilhar</h3>
                <p class="lead">É isso aí, experiência cadastrada com sucesso! Agora é só aguardar o contato do cliente e combinar os detalhes finais.</p>
                <p class="lead">O Compartilhaí não oferece plataforma própria de compartilhamento, então você precisará organizar o encontro com o seu cliente por conta própria, ok?</p>
                <p class="lead">Temos certeza que será uma experiência incrível!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/i8Lm0D0.png" alt="Generic placeholder image">
                <a href="https://storyset.com/online">Online illustrations by Storyset</a>
            </div>
        </div>

    </div>

    <!-- final da sessão de como usar site -->



    <!-- Sessão de depoimentos -->

    <section class="edica-landing-section edica-landing-testimonials" data-aos="fade-up">
        <div class="container">
            <div id="edicaLandingTestimonialCarousel" class="carousel slide landing-testimonial-carousel" data-ride="carousel">
                <div class="text-center py-4">
                    <img src="https://i.imgur.com/YuYIyjB.png" alt="quote">
                </div>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item">
                        <blockquote class="testimonial">
                            <p>“O Compartilhaí mudou a minha vida! Eu posso compartilhar minha cultura com pessoas que estão verdadeiramente interessadas. E ainda por cima ganho por isso!” </p>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote class="testimonial">
                            <p>“O Compartilhaí me conectou com pessoas e culturas que jamais iria conhecer sozinho. Aqui eu posso explorar diversos conhecimentos do mundo!” </p>
                        </blockquote>
                    </div>
                    <div class="carousel-item active">
                        <blockquote class="testimonial">
                            <p>“Amo fazer parte da Compartilhaí e dessa diversidade de culturas e adoro a facilidade em que posso ser uma cliente e também vendedora.” </p>
                        </blockquote>
                    </div>
                    <div class="carousel-item">
                        <blockquote class="testimonial">
                            <p>“A plataforma é muito simples de usar e consigo adquirir as experiências com muita facilidade. É como se o mundo estivesse ao meu alcance!” </p>
                        </blockquote>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#edicaLandingTestimonialCarousel" data-slide-to="0">
                        <img src="https://i.imgur.com/MaCvLSr.png" alt="avatar">
                        <div class="user-details">
                            <h6>Maria Velasquez</h6>
                            <p>Vendedora</p>
                        </div>
                    </li>
                    <li data-target="#edicaLandingTestimonialCarousel" data-slide-to="1">
                        <img src="https://i.imgur.com/gwigjev.png" alt="avatar">
                        <div class="user-details">
                            <h6>Rodrigo Matos</h6>
                            <p>Cliente</p>
                        </div>
                    </li>
                    <li data-target="#edicaLandingTestimonialCarousel" data-slide-to="2" class="active">
                        <img src="https://i.imgur.com/4DiifTZ.png" alt="avatar">
                        <div class="user-details">
                            <h6>Adriana Marquez</h6>
                            <p>Vendedora/Cliente</p>
                        </div>

                    </li>
                    <li data-target="#edicaLandingTestimonialCarousel" data-slide-to="3">
                        <img src="https://i.imgur.com/ZMLoESw.png" alt="avatar">
                        <div class="user-details">
                            <h6>João da Silva</h6>
                            <p>Cliente</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <!-- Final da sessão de depoimentos -->



    <!-- Logo para começar a compartilhar -->

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h4> Tá esperando o que para conhecer novas experiências ou apresentar as suas? Clique no logo e compartilha aí!
                </h4>
            </div>
            <div class="col-md-6 hover14">
                <a routerLink="/produto"> <img class="img-fluid" src="https://i.imgur.com/IuIVI0h.png" alt=""> </a>
            </div>
        </div>
    </div>
</div>