<div class="container content">

    <div class="row d-flex justify-content-center mt-5">

        <div class="col-md-6"> 

            <!-- SOBRE O PROJETO -->

            <h1 class="mb-4">Conheça o projeto</h1>
            <p>A plataforma Compartilhaí surge no contexto da pandemia de Covid-19 como uma ferramenta para dar maior visibilidade e oportunidade de trabalho a imigrantes e refugiados no Brasil, além, é claro, de geração de renda.
            </p>
            <p>Segundo dados divulgados pelo Comitê Nacional para os Refugiados (CONARE) na 6° edição do relatório "Refúgio em Números", ao final de 2020 havia 57.099 pessoas refugiadas reconhecidas pelo Brasil.</p>
            <p>A plataforma Compartilhaí foi criada para trazer informações e simular um ambiente seguro para aqueles que chegam ao Brasil e encontram dificuldade no mercado de trabalho formal.</p>

            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-11">
                    <h4 class="text-center mt-4">Quer saber mais sobre a nossa pesquisa? Preparamos uma cartilha com informações detalhadas.</h4>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center">
                <a href="https://drive.google.com/file/d/1UkpChF0OWZJFsvsPaNthzYmpt23Qs8Yz/view?usp=sharing" target="_blank" class="btn btn-outline-warning mb-5">Acessar a cartilha</a>
            </div>

        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="img-projeto" src="https://i.imgur.com/9RAlBze.jpg" alt="Foto de bandeiras" width="70%" height="auto">
        </div>
    </div> 

    <!-- SOBRE O PROJETO -->
</div> 


<div class="container-fluid p-0 m-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#9DDAC6" fill-opacity="1"
      d="M0,96L120,133.3C240,171,480,245,720,256C960,267,1200,213,1320,186.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
    </path>
  </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#9DDAC6" fill-opacity="1"
      d="M0,256L120,229.3C240,203,480,149,720,112C960,75,1200,53,1320,42.7L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">
    </path>
  </svg>
</div>

<div class="container">

    <div class="container content">
        <div class="container img-fluid">

            <!-- SOBRE O TIME DE DESENVOLVIMENTO -->
            <div class="row landing-team-content row fadeInUp mb-4">

                <div class="col-md-6 justify-content-center align-items-center">
                    <h2 class="section-title">Conheça nosso time </h2>
                    <p>Estes são os desenvolvedores por trás do Compartilhaí!</p>
                </div>

                <div class="col-md-6">
                    <p>Trabalhamos em equipe para desenvolver a plataforma desde o início, colocando em prática os princípios ágeis e o aprendizado oferecido pela <a href="https://brazil.generation.org/" target="_blank">Generation Brasil</a> durante os 3
                        meses de Bootcamp.</p>

                    <p>Tecnologias utilizadas no desenvolvimento:</p>
                    <ul>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="Java"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="Spring Boot"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/mysql/mysql-icon.svg" alt="MySQL"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg" alt="Angular"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" alt="HTML5"></a>
                        <a><img class="tamanho-icone mr-2" src="https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg" alt="CSS3"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/typescriptlang/typescriptlang-icon.svg" alt="Typescript"></a>
                    </ul>

                    <ul>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-icon.svg" alt="Bootstrap"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="Heroku"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/netlify/netlify-icon.svg" alt="Netlify"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/github/github-tile.svg" alt="Github"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/trello/trello-icon.svg" alt="Trello"></a>
                        <a><img class="tamanho-icone mr-2" src="https://www.vectorlogo.zone/logos/discordapp/discordapp-icon.svg" alt="Discord"></a>
                    </ul>

                </div>

            </div>

            <div class="row">

                <!-- BRUNA -->
                <div class="col-md-3 mb-5 d-flex justify-content-center p-0">

                    <div class="card card-bruna m-3">
                        <img class="foto-membro" src="https://i.imgur.com/Y4IM4fJ.jpg" style=" margin: 15px;" alt="Foto do integrante Bruna de Freitas">
                        <div class="card-body p-1">
                            <h4 class="card-title text-center"> <strong>Bruna de Freitas</strong></h4>
                            <p class="card-text text-center">Minha carreira profissional vem da área de atendimento, onde trabalhei habilidades de comunicação, adaptabilidade, trabalho em equipe e foco em resolução de problemas. Sempre fui curiosa e tecnologia me desperta interesse a
                                todo momento.
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">

                            <a target="_blank" href="https://www.linkedin.com/in/brunadefreit4s/"><img class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                            <a target="_blank" href="https://github.com/Brynafreitas"><img class="social-icon" src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
                        </div>
                    </div>

                </div>
                <!-- BRUNA -->

                <!-- GUSTAVO -->
                <div class="col-md-3 mb-5 d-flex justify-content-center p-0">

                    <div class="card card-gustavo m-3">
                        <img class="foto-membro" src="https://i.imgur.com/8jilenD.jpg" style="margin: 15px;" alt="Foto do integrante Gustavo Henrique">
                        <div class="card-body p-1">
                            <h4 class="card-title text-center"> <strong>Gustavo Henrique</strong></h4>
                            <p class="card-text text-center">Formado em gastronomia, decidi mudar totalmente minha carreira optando seguir o ramo da tecnologia. Com a programação almejo buscar novos horizontes para a minha carreira e para minha vida.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">

                            <a target="_blank" href="https://www.linkedin.com/in/gustavo-henrique-louren%C3%A7o-carvalho-9b470919b/"><img class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                            <a target="_blank" href="https://github.com/GustavoHLC"><img class="social-icon" src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
                        </div>
                    </div>

                </div>
                <!-- GUSTAVO -->


                <!-- JULIANA -->
                <div class="col-md-3 mb-5 d-flex justify-content-center p-0">

                    <div class="card card-juliana m-3">
                        <img class="foto-membro" src="https://i.imgur.com/U4RJc7L.jpg" style=" margin: 15px;" alt="Foto da integrante Juliana Martinez">
                        <div class="card-body p-1">
                            <h4 class="card-title text-center"> <strong>Juliana Martinez</strong></h4>
                            <p class="card-text text-center">Em constante evolução, tomei a decisão de fazer uma transição de carreira. Com background em Tradução e Educação, estou migrando para a área de Desenvolvimento Web, pois encontrei na Tecnologia a oportunidade ideal para me
                                desenvolver profissionalmente.
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">

                            <a target="_blank" href="https://www.linkedin.com/in/juliana-martinez-3b9170114/"><img class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                            <a target="_blank" href="https://github.com/JuCSMartin"><img class="social-icon" src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
                        </div>
                    </div>

                </div>
                <!-- JULIANA -->

                <!-- PACHECO -->
                <div class="col-md-3 mb-5 d-flex justify-content-center p-0">

                    <div class="card card-pacheco m-3">
                        <img class="foto-membro" src="https://i.imgur.com/cR91qnY.jpg" style=" margin: 15px;" alt="Foto do integrante Vinicius Pacheco">
                        <div class="card-body p-1">
                            <h4 class="card-title text-center"> <strong>Vinicius Pacheco</strong></h4>
                            <p class="card-text text-center">Curso o último semestre de ciências contábeis, do qual tenho 2 anos de experiência nesse ramo e sigo em evolução de carreira, imergindo para área de programação. A disciplina é minha principal virtude, disposto a encarar novos
                                desafios e firme no seu propósito.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center">

                            <a target="_blank" href="https://www.linkedin.com/in/vinicius-pacheco/"><img class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkedin"></a>

                            <a target="_blank" href="https://github.com/vnspacheco"><img class="social-icon" src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
                        </div>
                    </div>

                </div>
                <!-- PACHECO -->

            </div>
        </div>

        <!-- SOBRE O TIME DE DESENVOLVIMENTO -->
    </div>