<div class="container sob-navbar content">


  <div class="row d-flex justify-content-center mt-5">

  <div class="col-md-6">

  <h1>Conheça o projeto</h1>
  <p>A plataforma Compartilhaí surge no contexto da pandemia de Covid-19 como uma ferramenta para dar maior visibilidade
    e oportunidade de trabalho além, é claro, de geração de renda a imigrantes e refugiados no Brasil.</p>
  <p>Segundo dados divulgados pelo Comitê Nacional para os Refugiados (CONARE) na 6° edição do relatório "Refúgio em
    Números", ao final de 2020 havia 57.099 pessoas refugiadas reconhecidas pelo Brasil.</p>
  <p>Apenas em 2020, o CONARE reconheceu cerca de 26 mil pessoas de diversas nacionalidades no país. Tanto os homens
    (50,3%) como as mulheres (44,3%) encontravam-se, predominantemente, na faixa de 25 a 39 anos de idade.</p>
  <p>Além disso, a nacionalidade com maior número de pessoas, entre 2011 e 2020, é a venezuelana, seguida dos sírios e
    congoleses.</p>
  <p>Observando esse panorama e a necessidade de desenvolver um projeto final para o Bootcamp de Desenvolvimento Java da
    ONG Generation Brasil, a equipe decidiu criar a plataforma Compartilhaí para trazer informações e simular um
    ambiente seguro que gera renda e reconhecimento para aqueles que chegam ao Brasil e encontram dificuldade de
    ingresso no mercado de trabalho formal.</p>

  </div>

  <div class="col-md-6 mt-5 pl-5">
    <img src="https://i.imgur.com/9RAlBze.jpg" alt="" height="500">
  </div>
 </div>

  <div class="container">

  </div>

  <div class="container img-fluid align-items">

    <div class="row landing-team-content wow fadeInUp sob-navbar">
      <div class="col-md-6">
        <h2 class="section-title">Conheça nosso time </h2>
      </div>
      <div class="col-md-6">
        <p>Estes são os desenvolvedores por trás do Compartilhaí!</p>
        <p>Trabalhamos em equipe para desenvolver a plataforma desde o início, colocando em prática os princípios ágeis
          durante os 2 meses de projeto.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-5">
        <img src="https://avatars.githubusercontent.com/u/84204465?v=4" alt="Team Member" class="team-card-img"
          width="220">
        <h5 class="team-card-name">Bruna de Freitas</h5>
        <p class="team-card-job">Web Developer</p>
        <p>Minha carreira profissional vem da área de atendimento, onde trabalhei habilidades de comunicação, adaptabilidade, trabalho em equipe e foco em resolução de problemas. Sempre fui curiosa e tecnologia me desperta interesse a todo momento. A vivência em atendimento ao cliente somada às minhas habilidades técnicas, garantem uma contribuição assertiva para que o cliente tenha sempre uma ótima experiência!</p>
        <nav class="team-card-social-links ">
          <a href="https://www.linkedin.com/in/brunadefreit4s/" target="_blank"><i class="fa fa-linkedin mr-3"
              aria-hidden="true"></i></a>
          <a href="https://github.com/Brynafreitas" target="_blank"><i class="fa fa-github-alt"
              aria-hidden="true"></i></a>
        </nav>
      </div>
      <div class="col-md-3 mb-5">
        <img src="https://avatars.githubusercontent.com/u/81267739?v=4" alt="Team Member" class="team-card-img"
          width="220">
        <h5 class="team-card-name">Juliana Martinez</h5>
        <p class="team-card-job">Web Developer</p>
        <p>Tradutora por formação, em transição de carreira para a área da Tecnologia. Embora possua background em áreas não diretamente relacionadas com a área, essas experiências me permitiram desenvolver habilidades como adaptabilidade, trabalho em equipe e comunicação. Encontrei na Tecnologia a oportunidade ideal para me desenvolver profissionalmente e alcançar realização profissional.</p>
        <nav class="team-card-social-links ">
          <a href="https://www.linkedin.com/in/juliana-martinez-3b9170114/" target="_blank"><i
              class="fa fa-linkedin mr-3" aria-hidden="true"></i></a>
          <a href="https://github.com/JuCSMartin" target="_blank"><i class="fa fa-github-alt"
              aria-hidden="true"></i></a>

        </nav>
      </div>
      <div class="col-md-3 mb-5">
        <img src="https://avatars.githubusercontent.com/u/80477541?v=4" alt="Team Member" class="team-card-img"
          width="220">
        <h5 class="team-card-name">Vinicius Pacheco</h5>
        <p class="team-card-job">Web Developer</p>
        <p>Estou em evolução de carreira, migrando para a área de desenvolvimento, que sempre foi uma opção para mim,
          pois sempre gostei da tecnologia e nesse grande momento que vivemos, decidi tomar essa iniciativa para o ramo.
          Atualmente estou estudando AWS cloud, me aprimorando em backend e frontend.</p>
        <nav class="team-card-social-links ">
          <a href="https://www.linkedin.com/in/vinicius-pacheco/" target="_blank"><i class="fa fa-linkedin mr-3"
              aria-hidden="true"></i></a>
          <a href="https://github.com/vnspacheco" target="_blank"><i class="fa fa-github-alt"
              aria-hidden="true"></i></a>
        </nav>
      </div>
      <div class="col-md-3 mb-5 ">
        <img src="https://avatars.githubusercontent.com/u/69597820?v=4" alt="Team Member" class="team-card-img"
          width="220">
        <h5 class="team-card-name">Gustavo Henrique</h5>
        <p class="team-card-job">Web Developer</p>
        <p>Formado em gastronomia, decidi mudar totalmente minha carreira optando seguir o ramo da tecnologia. Com a
          programação almejo buscar novos horizontes para a minha carreira e para minha vida.</p>
        <nav class="team-card-social-links ">
          <a href="https://www.linkedin.com/in/gustavo-henrique-louren%C3%A7o-carvalho-9b470919b/" target="_blank"><i
              class="fa fa-linkedin  mr-3" aria-hidden="true"></i></a>
          <a href="https://github.com/GustavoHLC" target="_blank"><i class="fa fa-github-alt"
              aria-hidden="true"></i></a>
        </nav>
      </div>

    </div>


  </div>

</div>
