


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-12 col-xl-12 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
             <h1 class="text-center">Atualize sua experiência</h1>
          <div class="row">
        <div class="col-md-7 mt-4">
            <div class="form-group mt-5">
                <label for="titulo">Título da Experiência</label>
                <input [(ngModel)]='produto.nome' type="text" class="form-control" id="titulo" placeholder="Digite o título">
            </div>
            <div class="form-group">
                <label for="texto">Descrição</label>
                <textarea [(ngModel)]='produto.descricao' class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="categoria">Escolha uma categoria</label>
                <select (change)='categoriaId($event)' class="form-control" name="categoria" id="categoria">
      <option value="">Categorias</option>
      <option value="1">Artes</option>
      <option value="2">Dança</option>
      <option value="3">Entretenimento</option>
      <option value="4">Gastronomia</option>
      <option value="5">História e Cultura</option>
      <option value="6">Música</option>
      <option value="7">Tecnologia</option>
    </select>
            </div>
            <div class="form-group">
                <label for="valor">Quanto vale sua Experiência?</label>
                <input [(ngModel)]='produto.preco' type="number" step="50.00" class="form-control" id="valor" placeholder="Insira o valor">
            </div>
            <div class="form-group">
                <label for="imagem">Compartilhe uma foto real da sua Experiência</label>
                <input [(ngModel)]='produto.multimidia' type="url" class="form-control" id="imagem" placeholder="Insira o link da imagem">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger" routerLink='/produto'>Cancelar</button>
                <button type="button" class="btn btn-success" (click)='atualizar()'>Atualizar</button>
            </div>
        </div>

        <div class="col-md-5 d-flex align-items-center">
            <img class="featurette-image img-fluid mx-auto" src="{{produto.multimidia}}">
        </div>
    </div>
</div>
