<div class="sob-navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card-deck grow mb-2" *ngFor='let produto of user.produto'>
          <div class="card" style="height: 28rem;">
            <img class="card-img-top" src="{{produto.multimidia}}" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">{{produto.nome}}</h5>
              <p class="card-text">{{produto.categoria.nome}}</p>
              <p class="card-text">{{produto.descricao}}</p>
              <p class="card-text">R$ {{produto.preco}}</p>
                <div class="row d-flex justify-content-center mr-8">
                  <button type="button" class="btn btn-warning mr-3" [routerLink]="['/produto-edit', produto.id]">Editar</button>
                  <button type="button" class="btn btn-danger" [routerLink]="['/produto-delete', produto.id]">Deletar</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
