.grow:hover {
    transform: scale(110%) !important
}



span{
  background:
    linear-gradient(to right, rgba(157, 218, 198, 1), rgba(157, 218, 198, 1)),
    linear-gradient(to right, rgba(12, 11, 49, 1), rgba(157, 218, 198, 1), rgba(48, 75, 136, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

span:hover,
span:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
